{% if parent.children.all|length > 0 %}
  <ul
    class="menu-popover"
    style="display: none;"
    data-kury-popover-parent="#menu-item-{{ parent.pk }}"
    data-kury-popover-position='{"my":"left top","at":"left bottom"}'
    >
      {% for item in parent.children.all %}
        <li>
          {% if item.link %}
            <a href="{{ item.link }}">{{ item.title }}</a>
          {% else %}
            {{ item.title }}
          {% endif %}
        </li>
      {% endfor %}
  </ul>
{% endif %}
