{% extends 'kury/site_layout.html' %}

{% block content %}

<div class="container header-offset">
  <div class="row">
    <div class="col-xs-12">

			<br />
			<h1>{{ course.title }}</h1>
			<hr />
			<br />

			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2">
					<img class="img-responsive center-block" src="{{ course.image.url }}" />
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<br /><br />
					{{ course.description_html|safe }}
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3>Ilmoittaudu mukaan:</h3>
					<ul class="list-group">
						{% for event in course.events.all %}
							<a class="list-group-item" href="{{ event.store_link }}">
								{{ event.datetime|date:'SHORT_DATETIME_FORMAT' }}
								<span class="btn btn-primary btn-xs pull-right">Ilmoittaudu!</span>
							</a>
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}