{% extends 'kury/site_layout.html' %}

{% block content %}

<div class="container header-offset">
  <div class="row">
    <div class="col-xs-12">
      
      <br />
      <h1>Staff</h1>
      <hr />
      <br />

    </div>
  </div>

  <div class="row">
    {% for user in users %}
      {% if user.detail.image %}
        <div class="col-xs-3 text-center">
          <img src="{{ user.detail.image.url }}" alt="{{ user.first_name }} {{ user.last_name }}" class="img-circle img-responsive" />
          <h3>{{ user.first_name }} {{ user.last_name }}</h3>
          {{ user.detail.story_html|safe }}
          <small><a href="mailto:{{ user.email }}">{{ user.email }}</a></small>
        </div>

        {% if forloop.counter|divisibleby:4 %}
          <div class="clearfix visible-md-block visible-lg-block"></div>
          <br />
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
